= render 'layouts/header'
%body.home
  = render 'layouts/facebooklogin'
  #home.container
    = render 'layouts/body_header'
    
    .home-groupons
      = render 'layouts/searchlogo'


    - GrouponDeal.find_with_index('^chi')


    -#.quote.round
      = @quote.quote
      %br
      = "~#{@quote.author}"
