= render 'layouts/header'
%body.home
  #home.container
    = render 'layouts/facebookauth'
    
    .home-groupons
      = render 'layouts/searchlogo'




    -# if (params[:code])
      code exists
      %br
      = session[:oauth]
      %br
      = params[:code]
    -# else
      %p
        code does not exist

