= render 'layouts/header'
%body.home
  = render 'layouts/facebooklogin'
  #home.container
    = render 'layouts/facebookauth'
    
    .home-groupons
      = render 'layouts/searchlogo'

    -#.quote.round
      = @quote.quote
      %br
      = "~#{@quote.author}"
