= render 'layouts/header'
%body.home
  = render 'layouts/facebooklogin'
  = render 'layouts/facebookfeed'
  = render 'layouts/facebooklike'
  = render 'layouts/facebooksend'
  = render 'layouts/facebookcomment'
  #home.container
    = render 'layouts/facebookauth'
    
    .home-groupons
      = render 'layouts/searchlogo'
