%div{:class => "display_groupons round column"}
  = will_paginate @results
  :javascript
    $(".pagination").find("a").attr("data-remote", true);  
    $(".pagination").find("a").attr("class", "pagelink");  
  %table{:class => "groupon_deal round", :summary => "Groupons"}
    - @groupon_deal.each do |deal|
      %tr{:class => "round"}
        %td{:class => "groupon_name round"}
          %div{:class => "display_merchant_title"} 
            = link_to deal[:merchant_name], deal, :remote => true, :class => "deallink", :id => ("expired" unless deal[:active_status])
          - if deal[:active_status]
            %br
          - else
            %p{:id => "expired"}
              Expired
          .display_announcement{:id => ("expired" unless deal[:active_status])}
            = deal[:announcementTitle]
        %td{:class => "groupon_image round"}
          = link_to image_tag(deal[:sidebarImageUrl], :width => 95), deal, :remote => true, :class => "deallink" 
  = will_paginate @results
