= @deallink
#merchant_name.border_style.box_style.round
  = @groupon.merchant_name
#pitch.border_style.box_style.round
  = @groupon.pitchHtml.html_safe
%br
= button_to "View on Groupon.com", "/view/#{@groupon[:id]}", :controller => "groupon_deal", :action => "view", :id => @groupon[:id]
.fb-comments-container#my-fb-comment
  .fb-comments{ "data-href" => "#{@page_url}", "data-num-posts" => "5", "data-width" => "315"}
.fb-like-container#my-fb-like
  %div{:class => "fb-like", "data-send" => "true", "data-layout" => "standard", "data-href" => "#{@page_url}", "data-width" => "100", "data-show-faces" => "false"}



