= @deallink
#deal_header.border_style.box_style.round
  #merchant_info
    #merchant_name.round
      = @groupon.merchant_name
    #merchant_description.round
      = @groupon.title
  #dealimage
    = image_tag @groupon.sidebarImageUrl, :width => 150
#pitch.border_style.box_style.round
  = @groupon.pitchHtml.html_safe
.fb-comments-container#my-fb-comment
  .fb-comments{ "data-href" => "#{@page_url}", "data-num-posts" => "5", "data-width" => "315"}
.fb-like-container#my-fb-like
  %div{:class => "fb-like", "data-send" => "true", "data-layout" => "standard", "data-href" => "#{@page_url}", "data-width" => "100", "data-show-faces" => "false"}



