#deal_options.border_style.box_style.round
  .title_fade
    Options
  - @groupon.DealOptions.each do |option|
    .option.round.border_style
      .option_info
        .option_title
          = option.title
      .option_buy_info
        .option_prices
          %b
            = option.value_formattedAmount
          Value
          %br
          %b
            #{option.discountPercent}%
          off
          %br
          Save 
          %b
            = option.discount_formattedAmount
        .option_buy
          = option.soldQuantityMessage
          Bought
          %br
          - if option.isSoldOut
            .sold_out.round
              Sold Out!
          - else
            = link_to option.price_formattedAmount, "/groupon_deal/#{@groupon[:id]}?buy=true&option=#{option.id}", :controller => "groupon_deal", :action => "buy", :id => @groupon[:id], :class => "buy_button round", :target => "_blank"


