<%= render 'layouts/header' %>

<body>
  <%= render 'layouts/facebooklogin' %>
  <%= render 'layouts/facebookfeed' %>
  <%= render 'layouts/facebooklike' %>
  <%= render 'layouts/facebooksend' %>
  <%= render 'layouts/facebookcomment' %>


  <div class="container">
    
    <div class="find-groupons">
      <%= render 'layouts/searchlogo' %>
    </div>

    <div class="page_container round">


      <div class="yield_container">
        <%= yield %>
      </div>
      <div class = "display_deal column">
        <div class = "display_deal_left column round "></div>
        <div class = "display_deal_right round "></div>
      </div>

      <%= render 'layouts/facebookinfo' %>
      
    </div>
  </div>
</body>
</html>
