<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
  xmlns:fb="https://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# faiceupon: http://ogp.me/ns/fb/faiceupon#">
  <title>FaceUpon <%= @page_url %><%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= @page_url %>
  <%= render 'layouts/facebooklogin' %>
  <%= render 'layouts/facebookfeed' %>
  <%= render 'layouts/facebooklike' %>
  <%= render 'layouts/facebooksend' %>
  <%= render 'layouts/facebookcomment' %>

  <div class="find-groupons">
    <%= image_tag("faceuponlogo.jpg", :height => 90) %>
    <form name="search" action = "/search" method = "get">
      <input type="text" name="search" /> | 
      <input type="submit" value="Search" />
    </form>
  </div>

  <div class="page_container round">


    <div class="yield_container">
      <%= yield %>
    </div>

    <div class = "display_deal round column"></div>        

    <%= render 'layouts/facebookinfo' %>
    
  </div>

</body>
</html>
