<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
  xmlns:fb="https://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# faiceupon: http://ogp.me/ns/fb/faiceupon#">
  <%= render 'layouts/metatags' %>
  <title>FaceUpon <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render 'layouts/facebooklogin' %>
  <%= render 'layouts/facebookfeed' %>
  <%= render 'layouts/facebooklike' %>
  <%= render 'layouts/facebooksend' %>
  <%= render 'layouts/facebookcomment' %>

  <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
  <div class="fb-activity" data-app-id="287031438061468" data-width="300" data-height="600" data-header="true" data-border-color="#20ee40" data-recommendations="false"></div>
  <%= yield %>


</body>
</html>
